<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404 Page Not Found | Disc Forum</title>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/static/stylesheets/404.css" />
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">\
        <style>
                .topnav {
                  background-color: #333;
                  overflow: hidden;
                }

                .topnav a {
                  float: left;
                  color: #f2f2f2;
                  text-align: center;
                  padding: 14px 16px;
                  text-decoration: none;
                  font-size: 17px;
                }

                /* Change the color of links on hover */
                .topnav a:hover {
                  background-color: #0077cc;
                  color: black;
                }

                /* Add a color to the active/current link */
                .topnav a.active {
                  background-color: ##0077cc;
                  color: white;
                }
                </style>
    </head>
    <body>
    <<div class="topnav">
           <a class="active" href="/">Home</a>
         </div>
        <h1>Page not found</h1>
        <h2>We are sorry, we could not find the page you requested.</h2>
    </body>
</html>
