<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login | discForum</title>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/static/stylesheets/login.css" />
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
       <style>
               .topnav {
                 background-color: #333;
                 overflow: hidden;
               }

               .topnav a {
                 float: left;
                 color: #f2f2f2;
                 text-align: center;
                 padding: 14px 16px;
                 text-decoration: none;
                 font-size: 17px;
               }

               /* Change the color of links on hover */
               .topnav a:hover {
                 background-color: #0077cc;
                 color: black;
               }

               /* Add a color to the active/current link */
               .topnav a.active {
                 background-color: ##0077cc;
                 color: white;
               }
               </style>
    </head>

    <body>
    <div class="topnav">
          <a class="active" href="/">Home</a>
        </div>
        <div id="loginFormContainer">
            <form id="loginForm" action="/login" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

                <div id="usernameInputContainer">
                    <label>Username
                        <input autocomplete="off"
                               required
                               spellcheck="false"
                               id="usernameInput"
                               type="text"
                               name="username"/></label>
                </div>

                <div id="passwordInputContainer">
                    <label>Password <input autocomplete="off"
                                           required
                                           spellcheck="false"
                                           id="passwordInput"
                                           type="password"
                                           name="password"/></label>
                </div>

                <div id="submitButtonContainer">
                    <input id="submitButton" type="submit" value="Sign In"/>
                </div>
            </form>

            <span id="doNotHaveAnAccountLabel">Do not have an account? <a id="registrationPageLink" href="/registration">Sign Up</a></span>
        </div>
    </body>
</html>
